<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>NCT</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

    <script type="text/javascript">
        function load()
        {
            setTimeout("window.open(self.location, '_self');", 30000 );
        }
    </script>
</head>
<body onload="load()">
    <h1> Nordic countries time </h1>
    <div class="dropdown">
        <button class="dropbtn"> By country <i class="fa fa-angle-down"></i></button>
        <div class="dropdown-content">
            <a href="/finland">Finland</a>
            <a href="/sweden">Sweden</a>
            <a href="/norway">Norway</a>
            <a href="/iceland">Iceland</a>
            <a href="/denmark">Denmark</a>
        </div>
    </div>

    <div class="map">
        <a href="/UTC0"><img src="images/utc0.png"></a>
        <a href="/UTC1"><img src="images/utc1.png"></a>
        <a href="/UTC2"><img src="images/utc2.png"></a>
    </div>

    {{{body}}}
 
</body>
</html>