<div class="time">

    <h2>Time in Norway &#127470;&#127480;</h2>

    <script>
        const offset='+0'

        var d = new Date();

        var utc = d.getTime() + (d.getTimezoneOffset() * 60000);

        var nd = new Date(utc + (3600000*offset));
                
        const time = `${nd.getHours()}:${(nd.getMinutes()<10?'0':'') + nd.getMinutes()}`

        const txt = time.toLocaleString()

        document.write(txt.fontcolor("white").fontsize(10));
    </script>

    
</div>